/*
 * Header link grey		= #848484
 * Logout link red		= #dd0000
 * Sonarqube blue		= #4B9fd5
 * Google blue			= #448aff
 * Grey BG				= #f6f6f6
 */

/* ******************** globals **************************************** */

body { font: 62.5%/1.2 'Roboto', sans-serif; background: #f6f6f6; }

a { outline: none; }


/* ******************** primefaces css grid **************************** */

.ui-grid .ui-grid-row div[class^="ui-grid-col-"],
.ui-grid .ui-grid-row div[class*=" ui-grid-col-"] {
	/* padding: .5em; */
}


/* ******************** anonymous ************************************** */

.anonymous { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); background: #fff; width: 400px; padding: 3em; margin: 100px auto; }
.anonymous h1 { font-size: 2.25em; margin-bottom: .5em; }
.anonymous form input { border: solid 1px #bbb; display: block; font-size: 1.5em; margin-bottom: .5em; padding: .75em; }
.anonymous form input[type="text"]:focus { border-color: #448aff; }
.anonymous form input[type="submit"] { border: none; background: #448aff; color: #fff; cursor: pointer; }


/* ******************** layouts **************************************** */

header { box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); background: #fff; }
header nav {}
header nav ul {}
header nav ul li { display: inline-block; }
header nav a { display: block; font-size: 1.3em; padding: 1em; color: #848484; text-decoration: none; }
header nav a:hover { color: #448aff; }
header nav ul.logout { text-align: right; }
header nav ul.logout a:hover { color: #dd0000; }


/* ******************** responsive ************************************* */

/* 560px = primefaces css grid break point */
@media (max-width: 560px) {
	.responsive-hide { display: none; }
	
	.anonymous { width: auto; margin: 0; }

	header nav ul li { display: block; }
	header nav a, header nav a.logout { text-align: center; }
}
