<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet" type="text/css" />
	
	<h:outputStylesheet library="css" name="reset.css" />
	<h:outputStylesheet library="css" name="styles.css" />
	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>#{i18n['application_title']}</title>
	
	<!-- http://www.primefaces.org/showcase/ui/panel/grid.xhtml -->
	<!-- If there is no PF component on page, add it manually. -->
	<h:outputStylesheet name="grid/grid.css" library="primefaces" />
</h:head>
<h:body>

	<section id="content" class="anonymous login">
		<ui:insert name="content" />
	</section>
	
</h:body>
</f:view>
