<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet" type="text/css" />
	
	<h:outputStylesheet library="css" name="reset.css" />
	<h:outputStylesheet library="css" name="styles.css" />
	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>#{i18n['application_title']}</title>
	
	<!-- http://www.primefaces.org/showcase/ui/panel/grid.xhtml -->
	<!-- If there is no PF component on page, add it manually. -->
	<h:outputStylesheet name="grid/grid.css" library="primefaces" />
</h:head>
<h:body>

	<header class="ui-grid ui-grid-responsive">
		<nav class="ui-grid-row">
			<div class="ui-grid-col-9">
				<ul>
					<li><a href="#">Übersicht</a></li>
					<li><a href="#">Regular Season Tipps</a></li>
					<li><a href="#">Playoff Tipps</a></li>
					<li><a href="#">Spielregeln</a></li>
				</ul>
			</div>
			<div class="ui-grid-col-3">
				<ul class="logout">
					<li><a href="#">Administration</a></li>
					<li><a href="/logout">Logout (#{currentUserBean.usernameCapitalized})</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<section id="content">
		<ui:insert name="content" />
	</section>
	
	<!-- ========== Ajax status ========== -->
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		Ajax
		<p:graphicImage name="/demo/images/ajaxloadingbar.gif" />
	</p:dialog>
	
</h:body>
</f:view>
