<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	

<h:body>
	<ui:composition template="ui-templates/template-main.xhtml">

		<!-- ========== Content ========== -->
		<ui:define name="content">
			Content
			
			<h:form>
			</h:form>
		</ui:define>

	</ui:composition>
</h:body>
</html>
