<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	

<h:body>
	<ui:composition template="ui-templates/template-anonymous.xhtml">

		<!-- ========== Content ========== -->
		<ui:define name="content">
			<form action="" method="get">
				<div class="ui-grid ui-grid-responsive">
					<div class="ui-grid-row">
						<h1 class="ui-grid-col-12">Login</h1>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							<input name="username" type="text" placeholder="Username" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-12">
							<input name="password" type="password" placeholder="Passwort" />
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-6">
							<input value="Anmelden" type="submit" />
						</div>
					</div>
				</div>
			</form>
		</ui:define>

	</ui:composition>
</h:body>
</html>
